{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="flex flex-col justify-between">
    <div class="w-2/3 mx-auto">
        <h1 class="text-3xl font-bold font-mono my-4">Taking your career to the next level...</h1>



    </div>

    <div class="w-2/3 mx-auto space-y-4">
        <p class="text-lg">Our team of
            experts will go through your resume and provide you with a detailed AI-powered <span
                class="font-bold text-indigo-500">
                free report</span> </p>

        <p class="text-lg">
            We only charge <span class="bg-green-600 text-white p-2 rounded mr-2 font-bold inline-block"> Kshs. 1,000 /-
            </span>
            <span class="font-bold text-green-600"> for editing. </span>

        </p>
        <p class="text-lg">
            Please note that it may take up to 24 hours for us to complete the free analysis.
        </p>
        <p>
            We look forward to helping you take your career to the next level!
        </p>
    </div>
</div>
{% endblock content %}